.App {
  padding: 3em;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  display: inline-flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap;
  border: 1px solid red;
  width: 20em;
  padding: 0.25rem;
  margin: .5em;
  background-color: lightgrey;
  border-radius: .5em;
  border: 1px solid;
  padding: 1px;
  box-shadow: 5px 5px #888888;
}

.movie-card {
  flex: 1;
  align-self: flex-start;
}

.previous {
  float: left;
  margin-top: 1em;
}

.next {
  float: right;
  margin-top: 1em;
}

.next, .previous {
  width: 10em;
  height: 3em;
  border-radius: .5em;
  background-color: darkred;
  font-size: 1em;
  font-weight: bolder;
  font-variant: small-caps;
  color: white;
  border: 1px solid;
  padding: 1px;
  box-shadow: 2px 5px lightgrey;
}

.next:hover, .previous:hover {
  cursor: pointer;
}
